<div class="row d-flex justify-content-center align-items-center"
style="background-color: #78c2ad21; text-align: center;">
  <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 mb-2 bg-white p-1">
    <!-- <button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="onNewClick()">New</button> -->
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="onRetrieveClick()" >Retrieve</button>
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1" [disabled]="!enableModifyAndDel" (click)="onModifyClick()">Modify</button>
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="onClearClick()">Clear</button>
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1" (click)="onSaveClick()">Save</button>
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1">Back</button>
    <button type="button" class="btn btn-primary btn-sm ml-1 mr-1" [disabled]="!enableModifyAndDel" (click)="onDelClick()">Delete</button>
  </div>
</div>

<!-- <p>accopening works!</p> -->
