<div>
  <header class="header_class">
    <div class="wrapper">
      <ul class="header_top">
        <li><strong>Bank/Society: </strong>{{sys.BankName}}</li>
        <li><strong>Branch: </strong>{{sys.BranchName}}</li>
        <li><strong>Financial Year: </strong>2018-19</li>
        <li><strong>User: </strong>{{sys.UserId}}</li>
        <li class="date"><strong>Current Dt: </strong> {{sys.CurrentDate | date:'dd-MM-yyyy'}}</li>
      </ul>
    </div>
  </header>
  <div class="row" *ngIf="showMenu">
    <nav class="navbar navbar-expand-lg col-md-12 col-xl-12" style="background-color: #228ed3 !important;">
      <button class="navbar-toggler" type="button" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon" style="color: white;font-size: small;"></span>
      </button>

      <div class="collapse navbar-collapse" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngFor="let menu of bankConfig.menu">
            <a class="nav-link" *ngIf="menu.activeflag === 'Y'" (click)="showChildMenuFor(menu)">{{menu.name}} </a>
          </li>

        </ul>
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" (click)="goToHome()"><i class="fa fa-home" aria-hidden="true"></i> </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" (click)="logout()">Logout </a>
          </li>
        </ul>
      </div>

    </nav>
  </div>
  <div class="row" *ngIf="showChildMenu">
    <nav class="navbar navbar-expand-lg col-md-12 col-xl-12">
      <button type="button" class="btn " (click)="back('child')"><i  style="color: white;font-size: small;" class="fa fa-arrow-left"></i></button>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let cmenu of childMenu.menu">
          <a class="nav-link" *ngIf="cmenu.activeflag === 'Y'" (click)="showSubChildMenuFor(cmenu)">{{cmenu.name}} </a>
        </li>

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" (click)="goToHome()"><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="row" *ngIf="showSubMenu">
    <nav class="navbar navbar-expand-lg col-md-12 col-xl-12">
      <button type="button" class="btn" (click)="back('sub')"><i style="color: white; font-size: small;" class="fa fa-arrow-left"></i></button>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let sMenu of subMenu.menu">
          <a class="nav-link" *ngIf="sMenu.activeflag === 'Y'" (click)="gotoScreen(sMenu)">{{sMenu.screen}} </a>
        </li>


      </ul>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" (click)="goToHome()"><i class="fa fa-home" aria-hidden="true"></i> </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" (click)="logout()">Logout </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row justify-content-center" *ngIf="showScreenTitle">
    <h6 class="border-dark border-top">{{selectedScreenToShow}}</h6>
  </div>
</div>
