<div class="row d-flex justify-content-center align-items-center p-5"
  style="background-color: #78c2ad21; min-height: 100vh;">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 shadow-lg mb-5 bg-white p-3">
    <h1>Page under developemnt</h1>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="custType">Customer Type</label>
          <select id="custType" class="form-control">
            <option selected>Choose...</option>
            <option value="M">Member</option>
            <option value="N">Nominal Member</option>
            <option value="C">Customer</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
