<div *ngIf="spinner" class="rox d-flex justify-content-center">
  <div class="spinner-border text-info" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div *ngIf="!spinner">

  <div class="divc3">

    <table class="table ml-2 mb-0" style="background-color:  rgb(245, 245, 184); width: 1250px;">
      <tr>
        <td style="width: 5%;">
          <button type="button" class="btn btn-primary mt-1 ml-1" (click)="navigateBack()">
            <i class="fa fa-arrow-circle-left fa-1x "></i></button>
        </td>

        <td style="width: 95%;">
          <!-- <tr style="background-color: #1076eb"> -->
      <tr>
        <td style="width: 20%;"><b>Bank Name</b></td>
        <td style="width: 20%;"><b>DB Server</b></td>
        <td style="width: 15%;"><b>User Id</b></td>
        <td style="width: 15%;"><b>PassWord</b></td>
        <td style="width: 15%;"><b>Sig User Id</b></td>
        <td style="width: 15%;"><b>Sig PassWord</b></td>
        <!-- <td style="width: 5%;"></td> -->
      </tr>
      <tr>
        <td><input disabled mdbInput class="inp1" size="20" placeholder="Enter Bank Name.."
            [(ngModel)]="bankConfigMst.bankname" type="text"></td>

        <td><input class="inp1" size="20" placeholder="Enter Server IP.." [(ngModel)]="bankConfigMst.connstring.server"
            type="text"></td>

        <td><input class="inp1" size="15" placeholder="Enter Server UserId.."
            [(ngModel)]="bankConfigMst.connstring.userId" type="text"></td>

        <td *ngIf="!showPass">
          <div class="input-group">
            <input type="password" class="form-control" size="15" placeholder="Enter Server Password.."
              style="height: 30px; border-radius: 6px;  color: rgb(3, 3, 58); background-color: whitesmoke; border-color:  rgb(3, 3, 58); border-width: 2px;"
              [(ngModel)]="bankConfigMst.connstring.password">
            <i class="fa fa-eye-slash" style="font-size:20px; color: black;  margin-top: 5px; margin-left: 2px;"
              (click)="showPassword()"></i>
          </div>
        </td>

        <td *ngIf="showPass">
          <div class="input-group mb-3">
            <input type="text" class="form-control" style="height: 30px; border-radius: 6px;  color: rgb(3, 3, 58);  background-color: whitesmoke; border-color:  rgb(3, 3, 58); border-width: 2px;"
            [(ngModel)]="bankConfigMst.connstring.password" type="text">
            <div class="input-group-append">
              <span class="input-group-icon" style="height: 30px; border-radius: 6px;  color: rgb(3, 3, 58);  background-color: whitesmoke; border-color:  rgb(3, 3, 58); border-width: 2px;"><i class="fa fa-eye" style="font-size:20px; color:#1076eb;;  margin-top: 5px; margin-left: 2px;"
                (click)="showPassword()"></i></span>
            </div>
          </div>

        </td>

        <td><input class="inp1" size="15" placeholder="Enter Server Signature UserId.."
          [(ngModel)]="bankConfigMst.connstring.siguserId" type="text"></td>

      <td *ngIf="!showPass">
        <div class="input-group">
          <input type="password" class="form-control" size="15" placeholder="Enter Server Signature Password.."
            style="height: 30px; border-radius: 6px;  color: rgb(3, 3, 58); background-color: whitesmoke; border-color:  rgb(3, 3, 58); border-width: 2px;"
            [(ngModel)]="bankConfigMst.connstring.sigpassword">
          <i class="fa fa-eye-slash" style="font-size:20px; color: black;  margin-top: 5px; margin-left: 2px;"
            (click)="showPassword()"></i>
        </div>
      </td>

      <td *ngIf="showPass">
        <div class="input-group mb-3">
          <input type="text" class="form-control" style="height: 30px; border-radius: 6px;  color: rgb(3, 3, 58);  background-color: whitesmoke; border-color:  rgb(3, 3, 58); border-width: 2px;"
          [(ngModel)]="bankConfigMst.connstring.sigpassword" type="text">
          <div class="input-group-append">
            <span class="input-group-icon" style="height: 30px; border-radius: 6px;  color: rgb(3, 3, 58);  background-color: whitesmoke; border-color:  rgb(3, 3, 58); border-width: 2px;"><i class="fa fa-eye" style="font-size:20px; color:#1076eb;;  margin-top: 5px; margin-left: 2px;"
              (click)="showPassword()"></i></span>
          </div>
        </div>

      </td>


        <!-- <td>
          <i *ngIf="showPass" class="fa fa-eye" style="font-size:20px; color:#1076eb; margin-top: 5px;"
            (click)="showPassword()"></i>
          <i *ngIf="!showPass" class="fa fa-eye-slash" style="font-size:20px; color: black;  margin-top: 5px;"
            (click)="showPassword()"></i>
        </td> -->

      </tr>

      <tr class="divc4"></tr>

    </table>

    <div>
      <table class="table" m-1>
        <tr>
          <td style="width: 25%">

            <div class="divc">
              <strong class="mg1">Module</strong>
              <section *ngFor="let t1 of bankConfigMst.menu">
                <input disabled class="inp2" placeholder="Enter Module Name.." [(ngModel)]="t1.name" type="text">

                <label> Active
                  <input class="chk" type="checkbox" [checked]="t1.activeflag == 'Y'"
                    (change)="t1.activeflag = $event.target.checked ? 'Y' : 'N' " />
                </label>

                <button type="button" class="btn btn-primary btn-sm" (click)="showSubMenu(t1.name, t1.menu)"> <i
                    class="fa fa-arrow-circle-right fa-x "></i></button>
              </section>

              <section *ngIf="menuFlg">
                <input class="inp" placeholder="Enter Module like UCIC.." [(ngModel)]="tempMenu.name" type="text">

                <label> Active
                  <input type="checkbox" [checked]="tempMenu.activeflag == 'Y'"
                    (change)="tempMenu.activeflag = $event.target.checked ? 'Y' : 'N' " />
                </label>
              </section>
              <p></p>
              <!-- <button type="button" class="btn btn-primary btn-sm ml-5" (click)="createMenu()">Add Module</button>
              <button type="button" class="btn btn-primary btn-sm m-1" *ngIf="menuFlg"
                (click)="acceptMenu()">Accept</button>
              <button type="button" class="btn btn-primary btn-sm m-1" *ngIf="menuFlg"
                (click)="cancelMenu()">Cancel</button> -->
            </div>
            <p></p>
          </td>

          <!-- <p>-----------------MENU-----------------------------</p> -->


          <td style="width: 25%">
            <div class="divc" *ngIf="showSubMenuFlg">
              <strong class="mg1">Menu: {{tempManuName}}</strong>
              <section *ngFor="let t2 of viewSubmenu">
                <input disabled class="inp2" placeholder="Enter Menu Name.." [(ngModel)]="t2.name" type="text">

                <label> Active
                  <input class="chk" type="checkbox" [checked]="t2.activeflag == 'Y'"
                    (change)="t2.activeflag = $event.target.checked ? 'Y' : 'N' " />
                </label>

                <button type="button" class="btn btn-primary btn-sm" (click)="showScreenList(t2.name, t2.menu)"><i
                    class="fa fa-arrow-circle-right fa-1x "></i></button>
              </section>

              <section *ngIf="createSubMenuFlg">
                <input class="inp" placeholder="Enter Menu.." [(ngModel)]="tempSubMenu.name" type="text">
                <label> Active
                  <input type="checkbox" [checked]="tempSubMenu.activeflag == 'Y'"
                    (change)="tempSubMenu.activeflag = $event.target.checked ? 'Y' : 'N' " />
                </label>

              </section>

              <p></p>
              <!-- <button type="button" class="btn btn-primary btn-sm ml-5" (click)="createSubMenu()">Add Menu</button>
            <button type="button" class="btn btn-primary btn-sm m-1" *ngIf="createSubMenuFlg"
              (click)="acceptSubMenu()">Accept</button>
            <button type="button" class="btn btn-primary btn-sm m-1" *ngIf="createSubMenuFlg"
              (click)="cancelSubMenu()">Cancel</button> -->
            </div>
            <p></p>
          </td>
          <!-----------------------SCREEN--------------------------->
          <td style="width: 45%">
            <div class="divc2" *ngIf="showScreenFlg">
              <strong class="mg1">Screen: {{tempSubManuName}}</strong>
              <section *ngFor="let t3 of viewScreenlist">
                <input disabled class="inp2" placeholder="Enter Screen Name.." [(ngModel)]="t3.screen" type="text">
                <input disabled class="inp2" placeholder="Enter Screen Value.." [(ngModel)]="t3.value" type="text">
                <label> Active
                  <input type="checkbox" name="sc1" [checked]="t3.activeflag == 'Y'"
                    (change)="t3.activeflag = $event.target.checked ? 'Y' : 'N' " />
                </label>

              </section>

              <section *ngIf="createScreenFlg">
                <input class="inp" placeholder="Enter Screen Name.." [(ngModel)]="tempScreenlist.screen" type="text">
                <input class="inp" placeholder="Enter Screen Value.." [(ngModel)]="tempScreenlist.value" type="text">

                <label> Active
                  <input type="checkbox" name="sc2" [checked]="tempScreenlist.activeflag == 'Y'"
                    (change)="tempScreenlist.activeflag = $event.target.checked ? 'Y' : 'N' " />
                </label>

              </section>

              <p></p>
              <!-- <button type="button" class="btn btn-primary btn-sm ml-5" (click)="createScreenList()">Add Screen</button>
              <button type="button" class="btn btn-primary btn-sm m-1" *ngIf="createScreenFlg"
                (click)="acceptScreenList()">Accept</button>
              <button type="button" class="btn btn-primary btn-sm m-1" *ngIf="createScreenFlg"
                (click)="cancelScreen()">Cancel</button> -->
            </div>
            <p></p>

          </td>
        </tr>
      </table>



      <table class="table">
        <tr>
          <td style="width: 25%">
          </td>
          <td style="width: 50%">
            <button type="button" class="btn btn-primary btn-sm m-1" (click)="updateData()">Update</button>
            <button type="button" class="btn btn-primary btn-sm m-1" (click)="navigateBack()">Cancel</button>

            <button type="button" class="btn btn-primary btn-sm m-1" (click)="showJson()">ShowBankConfig</button>
            <button *ngIf="showJsonFlg" type="button" class="btn btn-primary btn-sm m-1"
              (click)="hideJson()">Hide</button>
          </td>
        </tr>
      </table>
      <hr>

      <div *ngIf="showJsonFlg" class="divc4">
        <ngx-json-viewer [json]="bankConfigMst" [expanded]="false"></ngx-json-viewer>
      </div>
      <hr>
      <p></p>



    </div>
  </div>
</div>
