/* You can add global styles to this file, and also import other style files */
.daseboard_home{flex: 1 0 auto; padding: 25px 25px; background: url("assets/images/bgCus.png") no-repeat center top; background-size: cover;align-items: center;}
